#root {

  font-family: 'Lilita One', cursive;



  font-weight: 100;
}
/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Croissant One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Montserrat', sans-serif; */





.swiper-slide-thumb-active {
  border: 2px solid yellow;
  opacity: 1;
}
